# GitHub Variables (non-sensitive)
GCP_PROJECT_ID=gyo-prod
GCP_REGION=asia-northeast1
CLOUD_RUN_SERVICE_NAME=gyo-server
ARTIFACT_REGISTRY_URL=asia-northeast1-docker.pkg.dev/gyo-prod/gyo-server
WORKLOAD_IDENTITY_PROVIDER=projects/312812201745/locations/global/workloadIdentityPools/github-pool/providers/github-provider
SERVICE_ACCOUNT_EMAIL=gyo-cloudrun@gyo-prod.iam.gserviceaccount.com
